<h1>New dynamic_form_input_group</h1>

<div class="field" style="width:75%;float:left;">
  <%= link_to 'Back', dynamic_form_input_groups_path %>
</div>

<%= render 'form' %>

<div class="field" style="width:75%;float:left;">
  <br/>
  <%= link_to 'Back', dynamic_form_input_groups_path %>
</div>
