      <div id="main-content" class="content">
        
        <%= render :partial => 'keyword/my_documents_search' %>
                
        <div id="search-results-area" style="display:block;"> <!-- #search-results-area -->
          <div class="container"><!-- Search Results -->
            <div id="results" class="row">
            </div>
          </div><!-- end: Search Results -->
        </div> <!-- end: #search-results-area -->
      </div><!-- end: main-content Area -->