<div id="large-preview-panel">
  <div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t '__asset_details__' %>
    </div>
    <div class="panel-body">
    
      <% @assets.each do |shared_asset| %>
        <%= render partial: 'shared_page_result', :locals => { shared_asset: shared_asset } %>
      <% end %>
      
    </div><!--end panel body-->
    <div class="panel-footer" style="text-align:center">
        <a href="javascript:void(0)" id="close-shared-page-asset-detail">
          <button type="button" class="btn btn-default rounded"><%= t '__return_to_search__' %></button>
        </a>
    </div><!--end panel footer-->
  </div><!-- end panel-->
  </div><!-- end container -->
</div><!-- end wrapper -->
