<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> <%= @user.last_name %></h1>
    
    <p>An account for Brand Center has been created for you. Your username is: <strong><%= @user.username %></strong></p>
    <p>
     Please click the link below to create your password. Once created, use the above login and the password you create to login to Brand Center.</p>
     
     <p><a href="<%= APP_DOMAIN + "/reset_password?selected_language=" + @current_language.to_s + "&activation_string=" + @user.token.to_s %>" target="_blank">Reset Password</a></p>
    
  </body>
</html>