<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= APP_NAME_PROPER %> has shared an item with you.</h1>
    <p> <a href="<%= @share_link %>">View Page</a></p>
    <p> <%= @description %></p>
    <p>If you encounter problems accessing the link above, you may copy and paste following URL into your browser.<br/><%= @share_link %></p>
  </body>
</html>