<%= direct_upload_form_for @uploader do |f| %>
    <%= f.file_field :bundle , class: "bundle-input file" %>
    <br>
    <%= f.submit 'Upload Template' %>
<% end %>
<hr>
<div id="inprocess_queue">
  <%= render :partial => 'inprocess_queue' %>
</div>
