<h1>Editing ac_creator_template</h1>
<div class="actions col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <%= link_to 'Show', @ac_creator_template %> |
  <%= link_to 'Back', ac_creator_templates_path %>
</div>

<%= render 'form' %>
