<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @opt_out.email_address %>
</p>

<%= link_to 'Edit', edit_opt_out_path(@opt_out) %> |
<%= link_to 'Back', opt_outs_path %>
