<div class="image-upload-warning" style="padding:0px 0px 25px 0px;border:none;display:block;">
  <div class="image-upload" style="margin-bottom:16px;">
    <label class="cabinet" style="position:absolute;top:14px;">
      <input type="file" name="file" class="image-upload-input file fileupload-logo" />
    </label>
    <input type="text" readonly="readonly" placeholder="<%= t '__upload_logo__' %>" class="upload-text" style="z-index:0;">
  </div>
</div>
