<div class="container">
  <div class="category-padding">
    <ul class="nav nav-pills main-filter">
      <%= render partial: 'sort_filter_list' %>
    </ul>
  </div>
</div>
<!-- END Results Filters --> 