<table width="100%">
  <tr>
    <td align="center">
	    <form action=<%= marketing_email_opt_out_url %> method="POST">
	      <input type="hidden" name="email_address" value="[email]">
	      <button type="submit" name="unsubscribe"><%= marketing_email_opt_out_link %></button>
	    </form>
    </td>
  </tr>
</table>
