<li data-id="{{id}}" data-token="{{token}}">
  <div class="progress">
    <div class="progress-bar">
      <span class="progress-label">{{#nobreak}}{{filename}}{{/nobreak}}</span>

    </div>

  </div><div class="progress-cancel"></div>
</li>
