<!DOCTYPE html>
<html class="SI-FILES-STYLIZED">
<head>
  <title>Brand Center</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]>
      <style type="text/css">

        .result-border {
          filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='transparent.png', sizingMethod='scale');
          background:none !important;
        }
        </style>
    <![endif]-->
<%= yield %>
</body>
</html>
